<h3 class="text-center display-4">All Logs</h3>
<hr class="display-4"/>

<div class="container mb-3 mt-3">

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th style="display:none;"/>
            <th>Username</th>
            <th>Operation</th>
            <th>Modified table</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody class="all-logs">
        </tbody>
        <tfoot>
        <tr>
            <th style="display:none;"/>
            <th>Username</th>
            <th>Operation</th>
            <th>Modified table</th>
            <th>Time</th>
        </tr>
        </tfoot>
    </table>


    <div class="mt-5">

        <button type="button" style="float:left;"  id="clear_selected" value="value" class="btn btn-danger float-left">Clear selected</button>

        <button type="button" id="clear_all" value="value" class="btn btn-danger float-right">Clear All</button>
    </div>


</div>

<div class="d-flex justify-content-center mt-5">
    <button id="refresh-logs-button" class="btn btn-outline-info mt-5">Refresh</button>
</div>

<!--<script src="js/logs-all.js"></script>-->